{% extends 'base.html.twig' %}

{% block title %}Новости{% endblock %}

{% block body %}

    <h1>Новости</h1>
    {% for item in news %}
        <h2>{{ item.title }}</h2>
        <h3>{{ item.dateAt|format_datetime('medium', 'short', locale='ru') }}</h3>
        <p>{{ item.preview }}</p>
        <a href="/news/{{ item.id }}">Подробнее</a>
    {% endfor %}
{% endblock %}